@import "./reset.css";

:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
}

body {
    background-color: #12141c;
    overflow: hidden;
}

/* body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1de5e2,#b588f7);
    clip-path: circle(30% at right 70%);
} */
main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    position: absolute;
    width: 1707px;
    height: 800px;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -854px;
    pointer-events: none;
    z-index: 1;
}



/* main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1de5e2,#b588f7);
    clip-path: circle(20% at 10% 10%);
} */

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min(100% - 30px, 1080px);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.title span h1 {
    font-family: 'Rubik Distressed', cursive;
    font-size: 66px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    background-image: -webkit-linear-gradient(135deg, #1de5e2, #b588f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gamezone {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    border-left: 5px solid #000;
    border-top: 5px solid #000;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    backdrop-filter: blur(2px);
}

.time .timer {
    position: relative;

}

.timer span {
    font-size: 30px;
    color: #a3aeba;
    font-family: 'Anton', sans-serif;
}

.core {
    display: flex;
    flex-direction: column;
}

.remind span {
    width: 300px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    color: #b2b2b2;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
}

.enter {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    z-index: 999;
}

.enter input {
    width: 300px;
    height: 60px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
}

.enter input::-webkit-input-placeholder {
    color: #999;
    font-size: 16px;
}

.enter input::-moz-placeholder {
    /*Mozilla Firefox 4 to 8*/
    color: #999;
    font-size: 16px;
}

.enter input:-moz-placeholder {
    /*Mozilla Firefox 19+*/
    color: #999;
    font-size: 16px;
}

.enter .correct {
    visibility: hidden;
    position: relative;
    left: 80px;
    color: #33ab4e;
    margin-top: 5px;
}

.enter .incorrect {
    visibility: hidden;
    position: relative;
    top: -23px;
    left: 40px;
    color: #ff3c57;
}

.error {
    width: 300px;
    height: 60px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    animation: shake 0.82s
        /* cubic-bezier(.36, .07, .19, .97) both */
    ;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.detail {
    position: relative;
    margin-top: 30px;
    z-index: 999;
}

.point {
    width: 200px;
    height: 200px;
    margin-left: 90px;
    border-radius: 50%;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: 3px solid #000;
    border-top: 3px solid #000;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    backdrop-filter: blur(2px);
}

.detail h2 {
    position: relative;
    top: 10px;
    left: 27px;
    font-size: 24px;
    color: #a3aeba;
    font-family: 'Rubik Distressed', cursive;
    font-weight: 300;
}

.detail span {
    position: relative;
    left: 53px;
    display: inline-block;
    margin-top: 36px;
    font-size: 26px;
    color: #a3aeba;
    font-family: 'Rubik Distressed', cursive;
    font-weight: 300;
}

.control {
    position: relative;
    left: 15px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.control .start button {
    width: 130px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
    background-size: 400%;
    z-index: 1;
}

.reset {
    width: 130px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    background-image: linear-gradient(135deg, #1de5e2, #b588f7);
    border: none;
}

.start button::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: 345px;
    background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
    background-size: 400%;
    border-radius: 5px;
    z-index: -1;
    filter: blur(8px);
}

.start button:hover {
    animation: streamer 8s infinite;
}

.start button:hover::before {
    animation: streamer 8s infinite;
}

@keyframes streamer {
    100% {
        background-position: -400% 0;
    }
}

.control .restart2 button {
    width: 130px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    background: #999;
    background-size: 400%;
    z-index: 1;
    cursor: not-allowed;
}

.control .start2 button {
    width: 130px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    background: #999;
    background-size: 400%;
    z-index: 1;
    cursor: not-allowed;
}

.control .restart button {
    width: 130px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
    background-size: 400%;
    z-index: 1;
}

.restart button::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 345px;
    right: -5px;
    background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
    background-size: 400%;
    border-radius: 5px;
    z-index: -1;
    filter: blur(8px);
}

.restart button:hover {
    animation: streamer 8s infinite;
}

.restart button:hover::before {
    animation: streamer 8s infinite;
}

@keyframes streamer {
    100% {
        background-position: -400% 0;
    }
}



.result {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50.5%;
    margin-top: -160px;
    margin-left: -150px;
    width: 300px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.result span {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 26px;
    font-family: 'Rubik Distressed', cursive;
    font-weight: 300;
    background-image: -webkit-linear-gradient(135deg, #1de5e2, #b588f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.result span+span {
    margin-top: 20px;
}

.score {
    position: absolute;
    top: 115px;
    right: 25px;
    width: 250px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.score h2 {
    margin-top: 20px;
    background-image: -webkit-linear-gradient(135deg, #1de5e2, #b588f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.score span {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    padding: 0 40px;
    background-image: -webkit-linear-gradient(135deg, #1de5e2, #b588f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

